<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name ="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>CRUD NodeJS</title>
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/estilos.css">

</head>
<body>

</body>
<div class="container">
<img src="https://img.freepik.com/psd-premium/banner-horizontal-realidad-virtual_23-2148937702.jpg" class="banner">
<!-- https://img.freepik.com/psd-premium/banner-horizontal-realidad-virtual_23-2148937702.jpg?w=826 
<img src="https://image.freepik.com/vector-gratis/diseno-banner-tecnologia-onda-azul_1017-15367.jpg" class="banner">
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="width:750px">

<ul class="navbar-nav mr-auto">
<li class="nav-item"> <a class="nav-link" href="/">Inicio </a></li>
<li class="nav-item"> <a class="nav-link" href="/acerca">Acerca de   </a></li>
<li class="nav-item"> <a class="nav-link" href="/productos">Articulos   </a></li>
<li class="nav-item"> <a class="nav-link" href="/contacto">Contáctanos  </a></li>
</ul>
</nav>


</html>