<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>CRUD NodeJS</title>
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/estilos.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<style>
  body {
    background: linear-gradient(to bottom right, #9C27B0, #2196F3);
    background-attachment: fixed;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }

  .navbar {
    margin-top: 40px; /* Ajusta el valor según sea necesario */
    background-color: rgba(255, 255, 255, 0.8);
  }

  .navbar .nav-link {
    display: flex;
    align-items: center;
  }

  .navbar .nav-link i {
    margin-right: 5px;
  }
</style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 750px; margin-top: 40px;">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-home"></i> Inicio</a></li>
          <li class="nav-item"><a class="nav-link" href="/acerca"><i class="fas fa-info-circle"></i> Acerca de</a></li>
          <li class="nav-item"><a class="nav-link" href="/usuarios"><i class="fas fa-user"></i> Usuarios</a></li>
          <li class="nav-item"><a class="nav-link" href="/contacto"><i class="fas fa-envelope"></i> Contáctanos</a></li>
        </ul>
      </nav>      
</div>
</body>
</html>
