<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name ="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Error 404</title>
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/estilos.css">

</head>
<body>
<h1> Lo sentimos, archivo no encontrado... </h1>
<img src="img/404.png" class="grande"/>
<%- include('footer') -%>
</body>
